.footer_container {
    display: flex;
    justify-content: center;
	background: #006E90;
	height: 5rem;
	margin-top: 2rem
};
.footer_text {
    color: white;
	align-self: center;
	margin-top: 1rem
};

.footer_icon {
    color: white;
	align-self: center;
	margin-left: 1rem
};