.jumbotron_container {
	background: #ADCAD6;
};
.jumbotron_text {
	color: white;
	margin-left: 2rem;
	margin-right: 2rem
};
.jumbotron_button {
	background: #F18F01;
	border: 1px #F18F01;
	margin-left: 2rem
};