@import "~bootstrap/scss/bootstrap.scss";

.navbar{
    background-color: #006e90;
    color: white; 
    font-weight: bold;
}
.fa-film{
    color: #f18f01;
    margin-right: 1rem; 
}
span {
    font-size: 2rem;
}

Button {
    background-color: #006e90;
    color: white;
    font-weight: bold;
    padding-top: o.5rem;
    border: none; 
}